body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f0f14;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  max-width: 600px;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

h1 span {
  color: #4f7cff;
}

h2 {
  font-weight: 500;
  margin-bottom: 10px;
}

.subtitle {
  color: #aaa;
  margin-bottom: 30px;
}

.chat {
  background: #1a1a22;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bubble {
  padding: 12px 16px;
  border-radius: 20px;
  max-width: 75%;
  font-size: 0.95rem;
}

.received {
  background: #2a2a35;
  align-self: flex-start;
  color: #ccc;
}

.sent {
  background: linear-gradient(135deg, #4f7cff, #6c8dff);
  align-self: flex-end;
  color: white;
  box-shadow: 0 4px 15px rgba(79, 124, 255, 0.3);
}

button {
  background-color: #4f7cff;
  border: none;
  padding: 15px 25px;
  font-size: 1rem;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease; /* adiciona essa linha */


}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(79, 124, 255, 0.4);
}

.small {
  margin-top: 15px;
  font-size: 0.8rem;
  color: #777;
}